etus-plusdin-be/node_modules
etus-plusdin-be/public/hot
etus-plusdin-be/public/storage
etus-plusdin-be/storage/*.key
etus-plusdin-be/vendor
etus-plusdin-be/.env
etus-plusdin-be/.env.backup
etus-plusdin-be/.phpunit.result.cache
etus-plusdin-be/Homestead.json
etus-plusdin-be/Homestead.yaml
etus-plusdin-be/npm-debug.log
etus-plusdin-be/yarn-error.log

etus-plusdin/dist
etus-plusdin/.DS_Store
etus-plusdin/Thumbs.db
etus-plusdin/db.json
etus-plusdin/*.log
etus-plusdin/node_modules/
etus-plusdin/public/
etus-plusdin/.deploy*/
etus-plusdin/package-lock.json
